@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div style="width: 600px; height: 387; float : right; margin-top: 3%; margin-right: 8%"><img src="http://drive.google.com/uc?export=view&amp;id=1K1R3xR9eptFPRlJwqkF1LeFNH17GAqs0"></div>

    <div class="row">
        <div class="col-md-8">
            <section>
                <form id="account" method="post">
                    <h4 style="margin-top: 10%">Использовать аккаунт для входа в систему.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Пароль</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                Запомнить
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger">Войти</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Зарегестрироваться в качестве нового пользователя</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
